body{
    background-color: #2b2d31;
    width:100%;
    height:100%;
    margin:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family:  'Forum', serif;
     overflow-y: auto; /* Enable vertical scrolling when needed */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
  overflow-x: hidden;
  /* overflow-x: hidden; */
  
  
    
}
.title2 {
  /* Adjust font size as needed */
  text-align: center; /* Center align the title */
  white-space: nowrap; /* Prevents wrapping */
   position: absolute;
    top: 55%;
    left: 70%;
    transform: translate(-50%,-50%);
    font-size: 5rem;
    
}

.RECIPE {
  display: block;
  letter-spacing: 2px; /* Display first word as block to occupy its own line */
}

.QUEST {
  display: inline-block; /* Display second word as inline-block to be next to first word */
  margin-left: 200px;
  margin-top: 30px;
  letter-spacing: 2px;
}

header{
    /* width:120rem; */
    height:62.5rem;
    border:0.063rem solid #fff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* overflow:hidden; */
     background-color: #0b1320;

}

.filters
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 18.75rem;

}
.filters select{
    width: 12.375rem;
    height: 2.2rem;
    margin: 0.625rem;
    font-size: 0.9rem;
    padding: 5px;
    margin-left: 1.875rem;
}
#applyfilters
{
    width: 5rem;
    margin: 0.625rem;
    margin-left: 3.125rem;
}
.toggle-playlist {
    position: fixed;
    top: 1.25rem;
    left: 1.25rem;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.875rem;
    cursor: pointer;
    z-index: 20000;
}
.playing_menu
{  width :100%;
    min-height: 43.75rem;
    background-color: #0f0c0c;
    justify-content: center;
    z-index: 3;
    margin-top: 0.625rem;
    padding: 0;
    /* position:fixed; */
    display:flex;
    /* right: 0; */
    justify-content: center;
    align-items: center;
    /* border: 0.063rem solid #fff; */
    background-color: #0f0c0c;
        overflow-y: auto; /* Enable vertical scrolling when needed */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
    box-shadow:0.313rem 0px 0.125rem #090f1f
} 
#intropg
{
 width: 120rem;
 height: 62.5rem;
 top:0;
 overflow: hidden;
  /* Adjust width as needed */ /* Adjust height as needed */
    background-image: url("../media/bg.png" );
    background-size: cover; /* Cover the entire div */
    background-position: center;
     /* Center the image within the div */
}

/* 
.menu
{
    width: 0;
    height:100%;
   
    left: 0;
      
    display:flex;
   
    z-index: 2002;
} */
select{
    background-color: #eef1f9;
    width: 80%;
    height: 10%;
    border-radius: 5px;

   
}
select option{
    height: 100%;
    
}
.title{
margin-top: 5.125rem;
}
/* .menu h1
{
    margin-top: 3.125rem;
    /* margin-left: 6.375rem; */

.filter-container
{
    padding:1.5rem;
    padding-left: 5rem;
    width: 100%;
}


.ingredientbox
{
    background-color:  rgba(43, 45, 49,0.3);
    border-radius: 5%;
    overflow: auto;
    padding: 0.625rem;
    min-width: 5rem;
    /* min-width: 200px; */
    
    
    
}
.category-name
{
    text-align: center;
    margin: 0.938rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.player
{
    width:100%;
    height:10%;
    /* background: #111727; */
    box-shadow: 0px 0.188rem 0.5rem #090f1f

}

h1
{
    font-size:1.875rem;
    margin:1.25rem 1.25rem 0px 1.25rem;
    font-weight: 500;
    
}
.closed
{
    width: 0;
    display: flex;
     position:fixed;
    background-color:#2b2d31 ;
       flex-direction: column;
       height: 62.5rem;
       /* left: 0; */
       z-index: 2002;
        
      overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  
       /* width:20rem; */
    
}
.opening{
    width:25rem;
    height:100%;
     background-color:#2b2c2f;
    position:fixed;
    top:0;
    border-radius: 10px;
    left: 0;
        overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    box-shadow:0.313rem 0px 0.125rem #090f1f;
    border: 0.063rem solid #fff;
    z-index: 2002;
    

}


.playlist
{
    margin:1.875rem 0px 0px 1.25rem;
    width: 100%;
    padding-left: 4rem;
}

h4{
    font-size:1.2rem;
    font-weight:400;
    /* padding-bottom:px; */
    color:#f3f3f3; 
    transition: .3s linear;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
h4:hover
{
    color:#fff
}
h4 span{
    position:relative;
    margin-right: 2rem;
}
h4 span::before
{
    content: "";
    position: absolute;
    width:0.25rem;
    height:0.25rem;
    border:0.125rem solid #4c5262;
    border-radius: 50%;
    top:-0.25rem;
    transition:.3s linear;
}
h4:hover span::before
{
    border:0.125rem solid #fff;
}
.playlist .bi
{
    display: none;
}

.playlist .active
{
    color:#36e2ec;
}
.playlist .active span
{
    display: none;
}
.playlist .active .bi
{
    display:flex;
    margin-right: 1.25rem;
    margin-left: 0px;
    padding: 0px;
    
    
}
.playlist h4 a {
    color: inherit;
    text-decoration: none;
    left: 5%;
}

.playlist h4 a:hover {
    color: inherit; /* Ensure the hover color is the same as the parent element */
}

.subtitle
{
    font-size: 0.563rem;
    color: #4c5262;
}

.player
{
    display: flex;
    align-items: center;
    padding:0px 0.938rem;
    width:20%;

}




header .playing_menu
{
    z-index: 2;
    display: flex;
    flex-direction: column;
    
}

nav
{
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0.625rem auto;
    /* border: 0.063rem solid #fff; */
}
nav ul
{
    display: flex;
}
nav ul li
{
    display: flex;
    list-style-type: none;
    position: relative;
    font-size: 0.813rem;
    color: #4c5262;
    margin-right: 30.313rem;
    cursor: pointer;
    transition: .3s linear;
}
nav ul li:hover
{
   color: #fff;
}
nav ul li:nth-child(1)
{
   color: #fff;
}
nav ul li span
{
    position:absolute;
    width: 100%;
    height: 2.0.313rem;
    background: #36e2ec;
    bottom: -0.313rem;
    left: 0;
    border-radius: 1.25rem;
}
.search
{
    position:relative;
    width: 40%;
   color: gray;
    /* background: #36e2ec; */
    left: 0;
    border-radius: 1.25rem;
    padding: 0.063rem;
}

.search::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
    background: rgb(184,184,184,.1);
    backdrop-filter: blur(0.313rem);
    z-index: -1;
}
.search .bi{
font-size: 0.813rem;
padding:0.188rem 0px 0px 0.625rem;
}
.search input{
    background: none;
    outline: none;
    border: none;
    padding: 0px 0.625rem;
    color: #fff;
    font-size: 0.75rem;
    }

    nav .user
    {
        width: 1.875rem;
        position: relative;
        height: 1.875rem;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 0.938rem;
    }

    nav .user .bi
    {
        
        position: absolute;
        font-size: 1.438rem;
        box-shadow: 0.125rem 0.125rem 0.5rem #131312;

        
        
    }
.procedure
{
    margin-left: 2rem;
}
p{
    font-size:1.2rem ;
    padding: 5px;
}
strong{
    margin:10px;
    
}

#ingredient-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.90rem;
    flex-shrink: 1;
    /* margin: 1.875rem; */
    max-width: 50rem;
    height:100%;
    /* padding-left: 6.25rem; */
        overflow-y: hidden; /* Enable vertical scrolling when needed */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
}
/* .container h1{
    /* margin-left: 30.5rem; */
    /* margin-right: ; */


#ingredient-gallery .custom-image {
    border-radius: 5%;
    overflow: hidden;
    transform: scale(0);
    opacity: 0;
    animation: popOut 0.5s forwards;
}

#ingredient-gallery .custom-image:nth-child(2) {
    animation-delay: 0.1s;
}

#ingredient-gallery .custom-image:nth-child(3) {
    animation-delay: 0.2s;
}

#ingredient-gallery .custom-image:nth-child(6) {
    animation-delay: 0.3s;
}

#ingredient-gallery .custom-image:nth-child(9) {
    animation-delay: 0.4s;
}

#ingredient-gallery .custom-image:nth-child(8) {
    animation-delay: 0.5s;
}

#ingredient-gallery .custom-image:nth-child(7) {
    animation-delay: 0.6s;
}

#ingredient-gallery .custom-image:nth-child(4) {
    animation-delay: 0.7s;
}

#ingredient-gallery .custom-image:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes popOut {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.custom-image
{
    width:9.375rem;
    height:12.5rem;
}
.recipe-image
{
    width:70%;
    height:13.25rem;
    margin-left: 3rem;
    border-radius: 5%;
}

.container {
    display: flex;
    overflow: auto;
    min-height: 37rem;
    width: 100%;
    flex-direction: column;
    align-items:flex-start;
    align-items: center;
    margin-left: 3.125rem;
    margin-top: 2.5rem;
}
.ingredient-align
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 25.25rem;
    width: 100%;
    margin: 3.125rem auto;
}
.ingredient-align img{
    max-width: 20rem;
    height: 20rem;
    margin-left: 30px;
    margin-top: 30px;
}
/* .container img{
    position: relative;
    left:70%;
    top:30%;
    width: 18.75rem;
    height: 18.75rem;
} */
.savedplaying_menu .container
{
    display: flex;
    overflow: auto;
    height: 62.5rem;
    width:59.375rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.375rem;
}

.savedplaying_menu
{
    width:120rem;
    height:62.5rem;
    margin: 0;
    padding: 0;
    /* position:fixed; */
    display:flex;
    /* right: 0; */
    justify-content: center;
    align-items: center;
    /* border: 0.063rem solid #fff; */
    background-color:#0f0c0c;
            overflow-y: auto; /* Enable vertical scrolling when needed */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
    box-shadow:0.313rem 0px 0.125rem #090f1f
}

.review{
    display: flex;
    flex-direction: row;
}
.reviewbox
{
 margin-left: 1rem;
 margin-bottom: 3rem;
 
}
.category {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
}



.custom-image {
    cursor: pointer;
    margin: 0.313rem;
    border: 0.125rem solid transparent;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.custom-image.selected {
    border: 0.125rem solid #f0c040;
    box-shadow: 0 0 0.625rem rgba(240, 192, 64, 0.5);
}

.recipe-item ,.saved-recipe{
   display: flex;
    align-items: center;
    padding: 0.625rem;
    background-color: #2b2c2f;
    /* border: 0.063rem solid #ccc; */
    border-radius: 0.313rem;
    cursor: pointer;
    transition: background-color 0.3s;
    height:9.375rem;
    min-width: 291px;
    margin:10px 5px 0px 10px
}
.saved-recipe{
   display: flex;
    align-items: center;
    padding: 0.625rem;
    border: 0.063rem solid #ccc;
    border-radius: 0.313rem;
    cursor: pointer;
    transition: background-color 0.3s;
    height:8rem;
}
.saved-recipe img {
    width: 40%;
    height: 100%;
    border-radius: 0.313rem;
    margin-right: 0.625rem;
}


.ingredient-item {
    display: inline-block;
    margin: 0.313rem;
    padding: 0.625rem;
    border: 0.063rem solid #1d1b1b;
    background-color: rgba(248, 240, 240,0.4);
    cursor: pointer; 
    border-radius: 0.625rem;
    font-size: 1.1rem;
    /* height: 1.25rem; */
}
.ingredient-item.selected {
    background-color: #f0c040;
}
h2{
    font-weight: 600;
    font-size: 2rem;
}
.grid3
{
    margin-top: 0.625rem;
    background-color: #0f0c0c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    min-width: 5rem;
    height: 44rem;
    z-index: -10;
    
    
}

#recipe-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.90rem;
    /* margin-top: 1.25rem; */
    margin-left: 1.25rem;
    margin-right: 15px;
    width:60rem;
    min-width: 1rem;
    flex-shrink:1 ;
    height: 34.75rem;
    /* flex: 2; */
    background-color: #1b1c1e;
     box-shadow: -0.125rem 0.125rem 0.313rem rgba(138, 122, 122, 0.5);
    border-radius: 0.625rem;
    padding: 0.625rem;
    
    /* height:auto; */
    /* padding-left: 6.25rem; */
        overflow-y: auto; /* Enable vertical scrolling when needed */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
}
#saved-recipes
{
    position:absolute;
    top: 20%;
}

.recipe:hover {
    background-color: #e0e0e0;
}
.addrecipe
{
    width: 100%;
    min-width: 40%;
    min-height: 44rem;
    background-color:#0f0c0c;
    margin-top: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#newrecipe
{
    width:100%;
    min-width: 50%;
    min-height: 33.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* margin-left: 9.375rem; */
    margin-top: 3.125rem;
    
    /* justify-content:left; */
}

#newrecipe img{
    max-width: 667px;
    flex-shrink: 2;
    margin-bottom: 3.75rem;
    margin-left: 25px;
    /* margin-right: 8rem; */
}
.recipe-item img {
    width: 40%;
    height: 100%;
    border-radius: 0.313rem;
    margin-right: 0.625rem;
}

.recipe-detail {
    position: fixed;
    display: none;
    top: 0;
    right: -100%;
    width: 25rem;
    height: 100%;
    background-color:#2b2d31;
    box-shadow: -0.125rem 0 0.313rem rgba(0,0,0,0.5);
    overflow:auto;
      overflow-y: auto; /* Enable vertical scrolling when needed */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
    transition: right 0.3s;
    padding: 1.25rem;
    z-index: 1000;
 
}

.recipe-detail.open {
    right: 0;
}

#close-detail {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    background: none;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}


.save-button,.remove-button {
    
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.313rem;
    padding: 0.313rem 0.625rem;
    cursor: pointer;
    margin-left: 10rem;

}
#submit-button
{
   margin-bottom: 20px;
}

.save-button:hover,.remove-button:hover {
    background-color: #45a049;
}
#recipe-content
{
     overflow-y: auto; /* Enable vertical scrolling when needed */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
    
    height: auto;
}


/* user recipe */


#newrecipe h2 {
    text-align: center;
    margin-bottom: 1.25rem;
}

#newrecipe  form {
    display: flex;
    flex-shrink: 1;
    /* flex-basis:34.8rem ; */
    flex-direction: column;
    max-height: 30.5rem;
    width:34.8rem;
    margin-left: 30px;
    gap: 0.938rem;
    overflow-y: auto;
    overflow-x: hidden;
}

#newrecipe label {
    font-size: 1.4rem;
    margin-bottom: 0.313rem;
}
::-webkit-scrollbar
{
    width:0.438rem;
    
}
::-webkit-scrollbar-thumb
{
    background-color: #2b2d31;
    border-radius: 0.375rem;
}

.addrecipe input,
.addrecipe textarea {
    padding: 0.625rem;
    border-radius: 0.313rem;
    border: none;
    background-color: #2b2d31;
    color: #fff;
    font-size: 0.875rem;
    max-width: 30rem;
}

.addrecipe button {
    padding: 0.625rem;
    border: none;
    border-radius: 0.313rem;
    background-color: #36e2ec;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addrecipe button:hover {
    background-color: #2bb0b7;
}
/* Hide the logout button by default */
.logout-hidden {
    display: none;
}

/* Style the visible logout button */
.logout-visible {
    display: block;
    position: absolute;
    top: 3.125rem; /* Adjust this value to position the button correctly */
    right: 0; /* Adjust this value to position the button correctly */
    background-color: white; /* Adjust styles as needed */
    border: 0.063rem solid #ccc;
    padding: 0.313rem 0.625rem;
    cursor: pointer;
}

#rating-review-section {
    margin-top: 3rem;
}

.rating-stars {
    display: flex;
    gap: 0.313rem;
}

.star {
    font-size: 1.5rem;
    cursor: pointer;
    color: #ccc;
}

.star.selected, .star:hover {
    color: gold;
}

#review-text {
    width: 100%;
    height: 6.25rem;
    margin-top: 0.625rem;
    padding: 0.625rem;
    border: 0.063rem solid #ccc;
    border-radius: 0.313rem;
}

#submit-review {
    margin-top: 0.625rem;
    width:6rem;
    height: 2rem;
    /* padding: 0.625rem 1.25rem; */
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 0.313rem;
    cursor: pointer;
}

#reviews-list {
    margin-top: 2.25rem;
}
#reviews-list h2{
    font-size: 1.5rem;
}

@media (max-width: 928px) {
  
.ingredient-align
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    /* min-height: 25.25rem; */
    width: 100%;
    margin: 3.125rem auto;
}
#recipe-list
{
    display: flex;
    overflow-y: auto;
    flex-direction: column;
}

}
@media(max-width:824px)
{
    .playing_menu{
        align-items: center;
        justify-content: center;
    }
    .container
    {
        margin: 0px;
    }
    #ingredient-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    gap: 1.90rem;
    max-width: 30rem;
    
}
.grid3
{
    display: flex;
    flex-direction: column;
    /* max-width: 8rem; */
}
#recipe-list
{
    max-width:70%;
    min-width: none;
    margin: 0px 10px;
}
.ingredient-align img{
max-width: 100%;
margin-left: 0px

};
}


@media(max-width:725px)
{
    #newrecipe
    {
        display:flex;
        flex-direction: column-reverse;
    }
    #newrecipe img{
        width:15rem;
        margin-left: 0;
        height: 15rem;
    }
    #newrecipe form
    {
        max-width:95%;
    }
    .addrecipe input,
.addrecipe textarea {
    max-width: 80%;
}
.ingredientbox
{
    max-width: 100%;
}
.container
{
    max-width: 80%;
}

}

@media (max-width:520px)
{
    .opening{
        width: 15rem;
    }
    .playlist{
        padding: 0;
        margin-left: 0;
        margin-top: 1rem;
    }
    .filter-container
    {
        padding: 0;
        margin-left: 0;
    }
    .recipe-detail
    {
        width:15rem;
    }
    .remove-button,.save-button{
        margin-left: 5rem;
    }
    .recipe-image
    {
        margin-left:2rem;
         width:70%;
    height:10.25rem;
    }
}
@media(max-width:864px)
{
    .title2{
        
        margin-right: 30px;
        left:50%;
    }
    .QUEST
    {
        margin-left: 100px;
    }
}
@media(max-width:360px)
{
    .title2{
        font-size: 3rem;
    }
}